//colors

$error: #ff0909;
$success: #09c372;
$white: #fff;
$gray: #ccc;
$black: #000;
$btnColor: rgb(41, 57, 194);
$gradient: linear-gradient(
  to right top,
  #d16ba5,
  #c168af,
  #ac67b7,
  #9468bf,
  #7569c4,
  #5e78d2,
  #4186dc,
  #0093e3,
  #00aff0,
  #00caf6,
  #00e3f5,
  #5ffbf1
);
